@{
        ViewData["Title"] = "Index";
    }

    <a href="/AppEjercicio/CrearRutina">Crear Rutina</a>
    <table class="table">
        <thead>
        <tr>

            <th>Nombre</th>
            <th>Dificultad </th>
            <th>Fecha de Creacion</th>
           

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Nombre</td>
                <td>@item.Dificultad</td>
                <td>@item.FechaCreacion</td>

                <td>
                    <a href="/AppEjercicio/DetalleEjercicios?IdRutina=@item.Id">Detalle de la Rutina</a>
                </td>

            </tr>
        }
        </tbody>
    </table>