@{ ViewData["Title"] = "Crear"; }

<h1>Crear</h1>
<form action="/Auth/GuardarUsuario" method="post">
    <label>Nombre</label>
    <input name="Nombre" />
    <br />
    <label>Uusername</label>
    <input name="Username" />
    <br />

    <label>Password</label>
    <input name="Password" />
    <br />

    <button class="btn btn-primary">Guardar</button>
</form>